<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title><%- title %> - Boxite</title>
</head>
<body>
    <%- body %>
    <%- include('../partials/foot.ejs') %> 
</body>
</html>