<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/static/css/login.css">
    <title><%- title %> - Boxite</title>
</head>
<body>
    <%- body %>
    <%- include('../partials/foot.ejs') %> 
</body>
</html>