<section class="hero is-transparent is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="box">
                <section class="section">
                    <h1 class="title has-text-primary clear-right">Hi there!</h1>
                    <img src="/static/assets/icon_colour.png" width="50" alt="Boxite" class="logo fixed-right">
                </section>
                <section class="section">
                    <form action="/login" method="POST">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input" name="username">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password">
                            </div>
                        </div>

                        <input type="submit" class="button is-primary" value="Login"></input>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>